$primary: #264653;
$mini-caption: #111827;
$secondary: #ffe3db;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;
$drawerBg: #7d7d7d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

body {
  font-family: 'Amiko', sans-serif;
}
